*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 90%;
    margin-left: 5%;
}

header{
    background-color: rgb(75, 90, 101);
    display: flex;
    flex-direction: row;
    gap: 40%;
    padding-left: 10%;
    justify-items: center;
    height: 80px;
    animation-name: cambiarColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}



.logo{
    margin-top: 1%;
    width: 15%;
    height: 58px;

}


.menu{    
    margin-left: 5%;
    width: 35%;
    font-size: 2vh;
    display: flex;
    align-items: center;
}

nav{
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: aliceblue;
    justify-content: space-around;

}

li{
    
    text-decoration: none;
    list-style: none;
}

.link{
    text-decoration: none;
    color: white;
}

.link1{
    border: 1px solid rgb(43, 51, 56);
    padding: 10%;
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 107px;
    background: #62676b;
    box-shadow: inset 37px 37px 30px #37424b,
                inset -37px -37px 30px #c6c8c9;
}

/*section1*/

.section1{
    background-color: rgb(75, 90, 101);
    display: flex;
    flex-direction: row;
    height: 69.5vh;
    padding-top:5% ;
    gap: 5%;
    animation-name: cambiarColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes cambiarColor {   
    0%   { background-color: rgb(146, 154, 160);}   
    10% { background-color: rgb(128, 135, 141);}  
    20% { background-color: rgb(127, 136, 143);}  
    30% { background-color: rgb(102, 113, 119);}  
    40% { background-color: rgb(87, 101, 110);} 
    50% { background-color: rgb(75, 90, 101);}  
    60% { background-color: rgb(87, 101, 110);}   
    70% { background-color: rgb(102, 113, 119);}  
    80% { background-color: rgb(127, 136, 143);}  
    90% { background-color: rgb(128, 135, 141);}   
    100%   { background-color: rgb(146, 154, 160);}   
}

.btnAnima{
    animation-name: botones;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes botones {   
    0%  { border-radius: 5px;} 
    20% { border-radius: 8px;}
    40% { border-radius: 12px;}
    50% { border-radius: 15px;}
    60% {border-radius: 12px;}
    80% {border-radius: 8px;}
    100% {border-radius: 5px;}
}


.caja1{
    width: 85%;
    height: 50vh;
    margin-left: 10%;
}

.img2{
    width:91.5%;

}

.caja2{
    margin-left: 4%;
    margin-right: 10%;
    padding-top: 6%;
}

.caja2 h2{
    color: white;
    font-size: 6vh;
}

.p1{
    color: white;
    font-size: 2vh;
}

.p2{
    color: rgb(181, 188, 194);
    font-size: 2vh;
}

.caja3{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 80px;

    gap: 25px;
}

.caja3 button{
    height: 50px;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 2vh;
    border-radius: 50px;
    border: 1px solid rgb(118, 178, 224);
    color: white;
    background: linear-gradient(rgb(58,142,207), rgb(57,141,206));
}

.link2{
    color: white;
    font-size: 1.9vh;
}

.p2{
    color: rgb(230, 228, 228);
}

/* section 3*/

.section3{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    background-color: rgb(239,239,239);
}

.imgs2{
    width: 150%;
}

/* section 4*/

.div31 img{
    width: 50%;
}

.div1{padding-left: 8%; padding-right: 8%; grid-area: div1;}
.div2{padding-left: 8%; padding-right: 8%; grid-area: div2;}
.div3{padding-left: 8%; padding-right: 8%; grid-area: div3;}

.section4{
    
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20%;
    gap: 80px;
    display:grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    grid-template-areas: 
    '. . . . .'
    '. div1 div2 div3 .'
    '. . . . .';

}

.button3f{
    height: 50px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 2vh;
    border-radius: 5px;
    border: 1px solid rgb(118, 178, 224);
    color: white;
    background: linear-gradient(rgb(64, 133, 185), rgb(55, 168, 255));
}

.h52{
    font-size: 2vh;
}

.imgS5{
    width: 100%;
    height: 100%;
}


.divI1{grid-area: divI1; width: 100%; }
.divI2{grid-area: divI2; width: 100%; }
.divI3{grid-area: divI3; width: 100%; }
.divI4{grid-area: divI4; width: 100%; }

.section5 {
    width: 100%;
    height: 340px;
    margin-bottom: 5%;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
    grid-template-rows: 10px 1fr 10px;
    grid-template-areas:
        '. . . . . .'
        '. divI1 divI2 divI3 divI4 .'
        '. . . . . .';
}

.imagenPro{
    width: 1.5%;
}
.imagenPro2{
    width: 2.8%;
}

.pPro{
    font-size: 3vh;
    margin-left: 4%;
}

.pPro2{
    font-size: 3vh;
    margin-bottom: 1%;
}

.imgS55{
    width: 100%;
}

/* section 6*/

.section6{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 4%;
}

.caja11S6{grid-area: caja11S6;}
.caja12S6{grid-area: caja12S6;}
.caja13S6{grid-area: caja13S6;}
.caja14S6{grid-area: caja14S6;}

.img1S6{
    width: 90%;
    border: 5px solid rgb(221, 221, 221);
    height: 200px;
}
.img2S6{
    width: 90%;
    border: 5px solid rgb(221, 221, 221);
    height: 200px;
}

.caja11S6{width: 150%; }
.caja12S6{width: 150%; }
.caja13S6{width: 80%; margin-left: 5%;}
.caja14S6{width: 80%; margin-left: 5%;}

.h5S6{
    font-size: 3.5vh;
}

.pS6{
    font-size: 2.5vh;
}

.pF6{
    margin: 10px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.479);
}


.caja1S6{
    width: 100%;
    height: 500px;
    column-gap: 100px;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'caja11S6 caja13S6'
    'caja12S6 caja14S6';
}

.caja2S6{
    font-size: 2.5vh;

}

.imagenPro3{
    width: 3.8vh;
}

.aS6{
    font-size: 2.5vh;
}

/* footer */

footer{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

footer p{
    font-size: 2.5vh;
}

.ultimacaja{
    width: 10%;
    display: flex;
    gap: 27px;
}

.ultimacaja img{
    width: 100%;
}

@media (max-width:1920px){
    .img2{
        width:100.5%;
    
    }
}

@media (max-width:1440px){

    .img2{
        width: 125.5%;
        margin-left: -14%;
        margin-top: 13%;
    }

}

@media (max-width:1280px){

    .img2{
        width: 148.5%;
        margin-left: -25%;
        margin-top: 19%;
    }

    .section5{
        height: 265px;
    }

}


@media (max-width:1152px){

    .img2{
        width: 145.5%;
        margin-left: -14%;
        margin-top: 11%;
    }

    .caja1{
        margin-right: 5%;
        margin-top: 3.4%;
    }

    .section4{
        gap: 25px;
    }

    .section5{
        height: 235px;
    }
}

@media (max-width:1024px){

    .img2{
        width: 151.5%;
        margin-top: -5%;
        margin-left: -14%;
    
    }
    
    .caja1{
        margin-right: 8%;
        margin-top: 5.5%;
    }

    .section4{
        gap: 25px;
    }

    .divI{
        height: 185px;
    }

    .section5{
        height: 180px;
    }

    .img1S6{
        height: 170px;
    }

    .img2S6{
        height: 170px;
    }

    .link2 {
        color: white;
        font-size: 1.9vh;
        text-align: center;
    }


}

@media (max-width:800px){

    .section1{
        height: 62.5vh;
    }

    .img2{
        width: 66.5%;
        margin-top: 36%;
        margin-left: 58%;
    }
    .caja1{
        width: 183.5%;
        margin-top: -15%;
        margin-left: -32%;
    }

    .caja1S6 {
        width: 100%;
        height: 500px;
        column-gap: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'caja11S6'
            'caja13S6'
            'caja12S6'
            'caja14S6';
    }
    .img1S6 {
        width: 65%;
    }

    .img2S6{
        width: 65%;
    }

    .imgs2 {
        width: 95%;
    }

    .section3{
        height: 30px;
    }

    .section6{
        margin-bottom: 50%;
    }

    .aS6{
        position: relative;
        bottom: -61%;
    }

    .caja3 button{
        height: 33px;
        font-size: 10px;
        padding-left: 6%;
        padding-right: 6%;
    }

    .caja2 {
        padding-top: 3%;
    }
}


